.filterContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.inputBox {
  font-size: 1.8rem;
  padding: 13px 12px 11px;
  line-height: 24px;
  margin-right: 0.5rem;
  color: #565a5c;
  border: 1px solid #cacccd;
}

@media (max-width: 800px) {
  .filterContainer {
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
}
