.textFormat {
  composes: textFormat from './storyList.module.css';
}

.header {
  composes: header from './storyList.module.css';
}

.listItem {
  composes: listItem from './storyListItem.module.css';
}

.btn {
  background-color: var(--color2);
  border: 1px solid var(--color2);
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  margin: 0 1rem;
  line-height: 1.4;
  padding: 0.5rem 1.2rem;
}

.btn_danger {
  composes: btn;
  background-color: var(--color1);
  border: 1px solid var(--color1);;
}
