/*
    global
*/
.DateRangePicker,
.DateRangePickerInput {
  max-width: 35rem;
}
.DateRangePickerInput {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 800px) {
  .DateRangePicker,
  .DateRangePickerInput {
    max-width: 100%;
    width: 100%;
  }
}
