*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: #E12D53;
  --color2: #17468A;
  --color3: #4C8DCA;
  --color4: #78E5EB;
  --black: #4B4B4C;
}
html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}