*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: #E12D53;
  --color2: #17468A;
  --color3: #4C8DCA;
  --color4: #78E5EB;
}
html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}
